<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Canvas Star</title>
    <meta name="description" content="Star on Canvas">
    <link rel="stylesheet" href="../styles/main.css">

</head>

<body>
    <div class="canvas-container">
        <div class="canvas-container__item--big">
            <canvas id="big-canvas"></canvas>
        </div>
        <div class="canvas-container__item--small">
            <canvas id="small-canvas"></canvas>
        </div>
    </div>

<script type="module" src="../scripts/main.js"></script>
</body>
</html>